---
http_interactions:
- request:
    method: get
    uri: https://apis.codante.io/olympic-games/countries?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c05bd7b6c953c36a6e8c51fa2935b2eb"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"CHN","name":"China","continent":"ASI","flag_url":"https:\/\/codante.s3.amazonaws.com\/codante-apis\/olympic-games\/flags\/CHN.png","gold_medals":18,"silver_medals":13,"bronze_medals":9,"total_medals":40,"rank":1,"rank_total_medals":3},{"id":"USA","name":"EUA","continent":"AME","flag_url":"https:\/\/codante.s3.amazonaws.com\/codante-apis\/olympic-games\/flags\/USA.png","gold_medals":14,"silver_medals":25,"bronze_medals":23,"total_medals":62,"rank":2,"rank_total_medals":1},{"id":"FRA","name":"Fran\u00e7a","continent":"EUR","flag_url":"https:\/\/codante.s3.amazonaws.com\/codante-apis\/olympic-games\/flags\/FRA.png","gold_medals":12,"silver_medals":14,"bronze_medals":16,"total_medals":42,"rank":3,"rank_total_medals":2},{"id":"[...]
