---
http_interactions:
- request:
    method: get
    uri: https://apis.codante.io/olympic-games/countries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f4f2b0ea2cbc9246643e64e7568d2be5"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"CHN","name":"China","continent":"ASI","flag_url":"https:\/\/codante.s3.amazonaws.com\/codante-apis\/olympic-games\/flags\/CHN.png","gold_medals":16,"silver_medals":11,"bronze_medals":9,"total_medals":36,"rank":1,"rank_total_medals":3},{"id":"FRA","name":"Fran\u00e7a","continent":"EUR","flag_url":"https:\/\/codante.s3.amazonaws.com\/codante-apis\/olympic-games\/flags\/FRA.png","gold_medals":12,"silver_medals":14,"bronze_medals":15,"total_medals":41,"rank":2,"rank_total_medals":2},{"id":"AUS","name":"Austr\u00e1lia","continent":"OCE","flag_url":"https:\/\/codante.s3.amazonaws.com\/codante-apis\/olympic-games\/flags\/AUS.png","gold_medals":12,"silver_medals":7,"bronze_medals":5,"total_medals":24,"rank":3,"rank_total_medals":5[...]
